# Ignore Python virtual environments
.venv/
venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Editor folders
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS files
.DS_Store

# VS Code environment settings
.env
